* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000000;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.container {
  width: 1600px;

  margin: auto;
}
.white {
  color: white;
}

.red {
  color: #d52229;
}

.width1000 {
  max-width: 1000px;
}

.d_flex_sb {
  display: flex;
  justify-content: space-between;
}

.d_flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dblock {
  display: block;
}

/*----------------HEADER------------------------*/
.header__whiteStripe {
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #f7f7f7;

  border-bottom: 1px solid #89883e;
}

.header__logoAndBtns {
  width: 1000px;
}

.header__logo {
  margin: 20px;
  font-size: 2.1rem;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.header__functionButtons {
  display: flex;
  flex-direction: row;
  background-color: #eeeeee;

  font-family: "Roboto", sans-serif;
  color: #686868;
  font-size: 1.3rem;
  font-weight: 500;
}

.header__functionBtn {
  color: #555555;

  margin-right: 1px;
  border-left: 1px solid #ebeaea;
  border-right: 1px solid #ebeaea;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header__functionBtn a,
.header__functionBtn a:visited {
  display: flex;
  align-items: center;
  color: #555555;
  height: 100%;
  width: 100%;
  padding: 20px 20px 20px;
}

.header__functionBtn:hover {
  background-color: #949090;
  transition: 0.5s;
}

.red,
.red a,
.red a:visited {
  color: #ff0000;
}

.bagValue {
  color: #555555;
}

.header__blackStripe {
  background-color: #000000;
  height: 46px;
  display: flex;
  justify-content: center;
}
.header__navigation {
  height: inherit;
  width: 100%;
}

.header__navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: inherit;
}

.header__navigation li {
  display: block;
  height: inherit;
}

.header__navigation a,
.header__navigation a:visited {
  display: flex;
  align-items: center;

  height: inherit;
  width: 100%;

  color: #dcdcdc;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  font-size: 0.97rem;
  text-align: center;
}

.header__navigation a:hover {
  background-color: #252525;
  transition: 0.5s;
}

/* ------------------- SLIDER ------------ */
.slider-background {
  background-image: url("img/VectorSmartObject.png");
  background-repeat: round;
}

.slider {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 43rem;
  color: white;
  position: relative;
}
.slick-arrow {
  border: none;
  background-color: rgba(255, 255, 255, 0.153);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  font-size: 0;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  overflow: visible;
  z-index: 10;
}

.slick-arrow::before {
  display: block;
  background-color: rgba(255, 255, 255, 0.153);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.slick-prev {
  left: 0;
}
.slick-prev::before {
  content: url("img/svg/leftButton.svg");
}
.slick-next {
  right: 0;
}

.slick-next::before {
  content: url("img/svg/rightButton.svg");
}

.slider__product {
  display: flex;
  flex-direction: row;
  position: relative;
}

.slider__textblock {
  width: 40%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}

.slider__productSlogan {
  font-size: 3.6rem;
  font-weight: light;
}

.slider__productDescription {
  font-size: 1.3rem;
  font-weight: light;
}

.slider__img {
  position: relative;
  display: block;
  width: 60%;
  height: 70%;
  left: 45%;
}

.slider__img img {
  width: 90%;
}

.slider__productPrice {
  position: absolute;
  right: 12%;
  bottom: 8%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  align-items: center;
  background-image: url("./img/slides/Layer63.png");
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  /* text-align: center; */
  width: 26%;
  height: 28.5%;
}

.slider__productPrice--name,
.slider__productPrice--price {
  font-size: 2.1rem;
}

/* ------------------- SEARCHPANEL ------------ */

.searchPanel {
  height: 47px;
  padding: 0 20px;
  background: linear-gradient(to right, #deeaf2, #f9efe6);
  border-bottom: 2px solid white;
}

.searchPanel__things {
  margin: auto;
  padding-top: 0.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchTitle {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;

  margin-right: 10px;
}

.searchPanel__searchField {
  font-size: 0;
}

.searchInput {
  border: none;
  background-color: #c9c9c9;
  height: 30px;
  border-radius: 0;

  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.searchSubmit {
  background-color: #df1f26;
  border: none;
  height: 30px;
  width: 30px;
  vertical-align: bottom;
}
.searchPanel__contentSort {
  display: flex;
  gap: 10px;
}
.sortBtn {
  background-color: #ffffff00;
  border: none;
  height: 35px;
  width: 35px;
}

.sortBtn:hover {
  background-color: #b0b0b06a;
}
/* ----------------CONTENT------------------- */
/* ------------------- ASIDE ------------ */

.content__background {
  background-color: #eeeeee;
  padding-bottom: 35px;
}

.content {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.asideMenus {
  width: 30%; /*---------------------------------------------------------------------*/
}

.productsMenu {
  border-right: 1px solid #bebebe;
  margin-top: 10px;
}

.productsMenu__heading {
  background-color: #df1f26;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;

  height: 3rem;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.productsMenu__li {
  border-bottom: 2px solid #e2e3e3;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  list-style-position: inside;
  padding-left: 10px;
  height: 3rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  position: relative;
}
.productsMenu__li a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.productsMenu__li:hover::after {
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #df1f26;
  content: "";
  right: -1px;
}

.productsMenu__li:hover {
  background-color: #ffffff;
}

.productsMenu__li i {
  padding-right: 10px;
}
.productsMenu__li__icon {
  color: #e8e681;
}

/* ----------------PRODUCTS MAIN FIELD-------------------- */

.products {
  width: 70%;
  margin-top: 10px;
  margin-left: 20px;
}
.products__selected {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.product__img img {
  max-width: 100%;
  max-height: 100%;
}

.longImg {
  width: 100%;
  max-height: 100%;
}

.hotTriangle {
  width: 3rem;

  position: absolute;
  top: 5px;
}

.exclusiveTriangle {
  position: absolute;
  top: 5px;
  width: 5rem;
}
.products__item {
  background-color: #ffffff;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.products__longItem {
  background-color: #ffffff;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  grid-column: 2 / span 2;
}

.products__longItem__nameCatPriceBtn {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid #ededed;
}

.product__nameAndCategory {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
}

.product__priceAndOrderBtn {
  border-top: 1px solid #ededed;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}
.product__price {
  width: 40%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3px;
  position: relative;
}

.product__price::after {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #ededed;
  content: "";
  right: 0px;
}

.beforeBorder::before {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #ededed;
  content: "";
  left: 0px;
}

.dollarIcon {
  font-size: 1.5rem;
}
.dollars {
  font-size: 1.8rem;
}
.cents {
  font-size: 1.2rem;
  vertical-align: top;
}
.product__orderBtn {
  width: 7rem;
  display: flex;
  justify-content: center;
}
.product__orderBtn button {
  border: none;
  border-radius: 3px;
  background: linear-gradient(to top left, #d32027, #e02d34);
  border-bottom: 3px solid #8a191c;
  border-right: 3px solid #8a191c;
  border-left: 3px solid #ee878b;
  border-top: 3px solid #ee878b;

  font-size: 1.2rem;
  width: 9rem;
  height: 2rem;

  color: white;
  font-weight: bold;
}

.product__orderBtn button:hover {
  border: none;
}

.longName {
  font-size: 1.1rem;
}

.long {
  width: 210px;
  border: none;
}

.product__orderBtn button:active {
  background: linear-gradient(to bottom right, #d32027, #e02d34);
  border-bottom: 3px solid #ee878b;
  border-right: 3px solid #ee878b;
  border-left: 3px solid #8a191c;
  border-top: 3px solid #8a191c;
}

.products__popular {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.products__popular-header {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* ----------------MAP-------------------- */
.mapBlock {
  border-right: 1px solid #bebebe;
  padding: 2rem 1rem;
}

.map {
  background: linear-gradient(to bottom, #e5e5e5, #eeeeee);
  width: 220px;
  height: 220px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Roboto", sans-serif;
  color: #909191;

  position: relative;
}
.redPointer {
  height: 61px;
  width: 37px;
}

.rounds {
  opacity: 1;
  position: absolute;
  bottom: 57%;
  max-width: 100%;
}

.delivering {
  margin-top: 27px;
  font-size: 2.7rem;
  font-weight: 300;
}
.worldwide {
  font-size: 2.3rem;
  font-weight: 500;
}
/* ----------------TWITTER-------------------- */

.twits {
  border-right: 1px solid #bebebe;
  width: 100%;
  max-height: 500px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 0 10px 0 10px;
}

.latestFromTwitter {
  display: block;
  font-size: 1.3rem;

  font-family: "Roboto", sans-serif;

  font-weight: 500;

  padding: 20px 0;
}

.twit {
  font-style: italic;
  color: #838383;
  font-size: 0.95rem;
  line-height: 20px;
  margin-top: 10px;
  display: flex;
}
.twit svg {
  max-width: 20%;
  margin-right: 10px;
}

.twittext {
  max-width: 80%;
}

/* ----------------CLIENT REVIEVS-------------------- */

.customerReview {
  border-right: 1px solid #bebebe;
  padding: 0 10px 0 10px;
}

.reviewText {
  max-width: 250px;

  background-color: white;

  padding: 20px;

  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-size: 1rem;
  color: #858585;
}

.speakingManIcons {
  padding: 5px 0 0 10px;
  display: flex;
}

.triangleToCloud {
  display: inline;
  position: relative;
  top: -21px;
  /* left: 40px; */
}

.signature {
  display: inline-block;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  top: -10px;
}

/* -----------------FOOTER --------------------- */
footer {
  background-image: url("img/VectorSmartObject.png");

  padding-top: 40px;
}

.footerGreyBack {
  background-color: #d3d5dacf;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 35px;
}

.footersec {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

.footerHeads {
  margin-bottom: 15px;
}

.about {
  max-width: 35%;
  margin-left: 20px;
}
.about .header__logo {
  margin-left: 0;
}
.about .footerHeads {
  margin: 0;
}

.about p {
  font-size: 0.9rem;
  font-weight: medium;
  color: #393939;
}

.follow {
  display: flex;
  flex-direction: column;
  max-width: 25%;
}

.follow a {
  font-weight: medium;
  font-size: 1rem;
  display: flex;
  color: #393939;
  align-items: center;
  margin: 0 0 8px 0;
}

.follow a:hover {
  background-color: #e70505;
}

.redSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #e70505;
  color: #ffffff;
  margin-right: 8px;
}
/* .about:after,
.follow:after {
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #df1f26;
  content: "";
} */

.contact {
  max-width: 40%;
}

.whiteSpreader {
  width: 2px;
  height: 145px;
  background-color: #eceaee;
}

.phonesAdressField {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: medium;
  color: #393939;
  display: flex;
  line-height: 25px;
}

.adress {
  color: #7c7c7c;
}

/* -----------------------Black footer----------------------- */
.policy_rights_contact {
  background-color: #2b2b2b;
  height: 50px;
}

.blackBg {
  margin: auto;
  height: 50px;
  color: #c3c3c3;
  display: flex;
  align-items: center;
}

.policy_rights_contact a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0 15px;
  color: #c3c3c3;
}

@media screen and (max-width: 720px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 540px) {
  html {
    font-size: 8px;
  }
  .mapBlock,
  .twits,
  .customerReview {
    display: none;
  }
  .header__blackStripe {
    height: auto;
  }
  .header__navigation ul {
    flex-direction: column;
  }

  .header__navigation li {
    width: 100%;
  }
  .header__navigation li a {
    padding: 5px 20px;
    justify-content: center;
  }
  .content {
    flex-direction: column;
  }
  .products {
    margin: 0;
  }
  .products__item {
    padding-bottom: 0;
  }
  .asideMenus {
    width: 100%;
  }
  .products {
    width: 100%;
  }
  .productsMenu__li a {
    justify-content: center;
  }
  .products__popular-header {
    text-align: center;
  }
  .products__squareItem .product__price {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 480px) {
  .slider__productSlogan {
    font-size: 20px;
  }
  .slider {
    height: 30rem;
  }
  .slider__img {
    width: 50%;
  }
  .slider__textblock {
    width: 38%;

    left: 9%;
  }
  .slider__productPrice--name,
  .slider__productPrice--price {
    font-size: 1.5rem;
  }
}
